body {
    background-image: url("map.jpg");
    
}
 

h1 {
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 60px;
    text-shadow:  2px 2px grey;

    
}
#main-content {
    width: 40%;
    margin-left: 30%;
    margin-top: 3%;
    height: 400px;
    color: white;
    background: black;

   
}
.box1 {
    
    border: dashed white;
    padding: 20px
    
    
    
}

.box2 {
   
    border: dashed white;

}